# Framework Web y CORS
Flask==3.1.3
flask-cors==6.0.5
Werkzeug==3.1.8
Jinja2==3.1.6
MarkupSafe==3.0.3
itsdangerous==2.2.0
click==8.5.0
blinker==1.9.0

# Base de Datos y ORM
SQLAlchemy==2.1.0
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.11

# Autenticación y Tokens JWT
Flask-JWT-Extended==4.7.4
PyJWT==2.15.0

# Módulo de IA 
openai>=1.0.0
python-dotenv==1.0.1
typing_extensions==4.16.0
